.DS_Store
.vscode
application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/



TAGS

application/cache/*
img/nn
img/nn_3Gruppen
application/config/config.php
application/config/config.php~
application/config/database.php
application/logs/*
application/third_party/dompdf/lib/fonts/log.htm
application/third_party/dompdf/lib/fonts/Helvetica-Bold.afm.php
img/Thumbs.db
rms/*
system/logs/log-*.php
system/cache/*
system/cache/!index.html
tmp/*
.project
.settings/
user_guide/*
*.ics
vendor/*
build
node_modules
dist/
